{
  "singleQuote": true,
  "trailingComma": none,
  "tabWidth": 2,
  "printWidth": 100,
  "overrides": [
    {
      "files": "**/*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
