// .drugs-list-filters__label_1 {
//     position: static;
//     // top: 100%;
// }

nav {
    position: absolute;
    left: 45%;
}

.drugs-list-filters__label_2 {
    position: relative;
    left: 60%;   
    bottom: 78px;
}
// .main_label {
//     position: relative;
// }  


.flag_box {
    position: fixed;
    left: 5%;
    bottom: 78%;
}
// // .bg-button--primary {
// //     position: relative;
// //     left: 75%;
// //     // bottom: 70px;
// // }

.drug_table {
    position: relative;
    bottom: -30px;
}

.batch-status-checkbox {
    position: relative;
    left: 95%;
    bottom: 105px;
}

.drugs-list-filters__select {
    width: 380px;
}